.info-bar {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);

    @media (max-width: 1024px) {
        flex-direction: column;
    }
    &__item {

        @media (max-width: 1024px) {
            h3 {
                font-size: 16px;
                margin: 12px;
            }
        }
        
        ul {
            display: flex;
            padding: 30px;
            list-style: none;
            justify-content: center;

            @media (max-width: 1024px) {
                flex-direction: column;
                gap: 20px;
            }
        }

        &__list{
            
            
            &__img {
                padding: 30px;
                align-items: center;
                margin: 12px auto 12px auto;
                width: 250px;
                &-logo {
                    width: 150px;
                    display: flex;
                    margin: 0 auto;
                    padding: 12px;
                    transition: transform 0.3s ease;

                        &:hover {
                            transform: scale(1.05);
                        }
                }
            }
        }
    }
}

.container-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
}