.hero {
    background-image: url('../images/banner_kings_league.webp');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;

    h3 {
        margin-top: 12px;
        font-size: 1.5rem;
        color: #fff;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

        @media (max-width: 1024px) {
            font-size: 1rem;
        }
    }

    .container {
        position: relative;
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        content: '';
    }

    &__logo{
        margin: 0 auto;
        display: block;
    }

    &__title {
        text-align: center;
        color: #fff;
        font-size: 48px;
        font-weight: 700;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    &__content {
        padding-top: 64px;
        padding-bottom: 100px;
    }

    &__description {
        margin-top: 64px;
        margin-bottom: 64px;
        font-size: 40px;
        line-height: 56px;
        color: #fff;
        font-weight: bold;
        text-align: center;
    }

    @media (max-width: 1024px) {
        &__title {
            font-size: 32px;
        }

        &__description {
            font-size: 24px;
            line-height: 32px;
        }

        &__logo {
            width: 100px;
        }
    }
}