@use 'hero';
@use 'components/info-bar.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    width: 100%;

    @media (max-width: 640px) {
        max-width: 80%;
    }

    @media (max-width: 1024px) {
        max-width: 90%;
    }
}